In [1]:
import pandas as pd
import numpy as np
import os
import unicodedata
import calendar
import datetime

In [2]:
file = pd.ExcelFile('KMU_risk_analysis_2020_01_09.xlsx')
df = pd.read_excel(file,'records')

In [3]:
df

,country,year,Africa risk,China growth,Europe growth,Middle East risk,Russia risk,US growth,Ukraine risk,capital flow & fx risk,...,growth risk,inflation risk,other EM,other advanced economies,other regional risk,policy risk,refugee crisis,spillover risk,structural reform risk,trade & globalization risk
0,afghanistan,2014,0,0,0,0,0,0,0,1,...,0,3,0,0,5,0,0,0,0,0
1,NaN,2015,0,3,0,3,0,0,0,3,...,0,3,0,0,0,0,0,3,3,0
2,NaN,2017,0,3,0,0,0,0,0,3,...,0,3,0,0,5,0,0,0,3,0
3,albania,2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
4,NaN,2016,0,5,0,0,0,0,0,0,...,0,0,0,4,0,0,0,4,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,zimbabwe,2011,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,3,0,0
666,NaN,2012,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
667,NaN,2014,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
668,NaN,2016,0,4,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,1,0
669,NaN,2017,0,0,0,0,0,0,0,5,...,0,0,0,4,0,0,0,0,5,0

In [4]:
for n in range(len(df['country'])):
    if str(df['country'][n]) != 'nan':
        continue
    else:
        df['country'][n] = df['country'][n-1]

/Users/kongweizhen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [5]:
df

,country,year,Africa risk,China growth,Europe growth,Middle East risk,Russia risk,US growth,Ukraine risk,capital flow & fx risk,...,growth risk,inflation risk,other EM,other advanced economies,other regional risk,policy risk,refugee crisis,spillover risk,structural reform risk,trade & globalization risk
0,afghanistan,2014,0,0,0,0,0,0,0,1,...,0,3,0,0,5,0,0,0,0,0
1,afghanistan,2015,0,3,0,3,0,0,0,3,...,0,3,0,0,0,0,0,3,3,0
2,afghanistan,2017,0,3,0,0,0,0,0,3,...,0,3,0,0,5,0,0,0,3,0
3,albania,2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
4,albania,2016,0,5,0,0,0,0,0,0,...,0,0,0,4,0,0,0,4,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,zimbabwe,2011,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,3,0,0
666,zimbabwe,2012,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
667,zimbabwe,2014,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
668,zimbabwe,2016,0,4,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,1,0
669,zimbabwe,2017,0,0,0,0,0,0,0,5,...,0,0,0,4,0,0,0,0,5,0

In [6]:
def caldistance(vec1,vec2):
    dist = np.sqrt(np.sum(np.square(vec1 - vec2)))
    dist = float("{0:.2f}".format(dist))
    return dist

In [7]:
def calculation2(n1,n2):
    v1 = np.array(df.iloc[n1][2:])
    v2 = np.array(df.iloc[n2][2:])
    grade = caldistance(v1,v2)
    return grade

In [8]:
total = []
for i in range(0,len(df)):
    grade=[]
    for n in range(0,len(df)):
        grade.append(calculation2(i,n))
    total.append(grade)

In [9]:
matrix = pd.DataFrame(total)
matrix['country'] = df['country']
matrix['year'] = df['year']
matrix

,0,1,2,3,4,5,6,7,8,9,...,662,663,664,665,666,667,668,669,country,year
0,0.00,9.33,7.62,11.70,14.49,11.09,9.27,13.34,12.33,16.49,...,9.95,12.37,11.09,10.95,9.49,14.32,13.42,14.56,afghanistan,2014
1,9.33,0.00,8.06,10.49,11.62,8.49,8.06,9.64,10.34,13.08,...,9.49,9.49,12.49,9.22,9.95,11.40,11.96,12.85,afghanistan,2015
2,7.62,8.06,0.00,11.00,14.14,11.45,8.00,13.19,12.88,14.90,...,10.63,12.45,14.04,11.22,11.05,12.37,13.56,13.27,afghanistan,2017
3,11.70,10.49,11.00,0.00,13.38,8.60,9.22,13.38,14.11,14.32,...,6.16,11.83,10.20,7.94,8.06,9.80,12.61,11.27,albania,2014
4,14.49,11.62,14.14,13.38,0.00,10.82,12.08,13.42,12.41,13.19,...,13.30,12.04,11.53,13.34,12.49,9.43,10.00,11.75,albania,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,10.95,9.22,11.22,7.94,13.34,8.89,6.48,13.11,13.86,15.10,...,3.61,9.22,9.85,0.00,6.32,11.45,11.05,11.83,zimbabwe,2011
666,9.49,9.95,11.05,8.06,12.49,7.94,8.94,12.73,12.57,15.68,...,5.20,11.36,9.00,6.32,0.00,10.72,9.90,12.25,zimbabwe,2012
667,14.32,11.40,12.37,9.80,9.43,9.70,9.43,13.00,13.38,13.89,...,10.30,11.75,12.33,11.45,10.72,0.00,7.81,13.23,zimbabwe,2014
668,13.42,11.96,13.56,12.61,10.00,11.45,10.39,14.56,13.93,16.37,...,10.63,11.70,10.72,11.05,9.90,7.81,0.00,12.88,zimbabwe,2016
669,14.56,12.85,13.27,11.27,11.75,13.75,12.41,16.67,15.62,13.19,...,11.62,12.21,11.53,11.83,12.25,13.23,12.88,0.00,zimbabwe,2017

In [14]:
result_folder = '/Users/kongweizhen/Desktop/codes'

In [19]:
matrix.to_excel('risk_index_matrix.xlsx')

In [20]:
df.to_excel('risk_index.xlsx')